<main class="modals">
	<div class="row">
		<form [formGroup]="editClientForm" (ngSubmit)="saveClient()">

			<div class="col-md-12"><h2>Edit client: <span class="modals-close" (click)="closeModal()">X</span></h2></div>
			<div class="form-group col-md-6">
				<label for="firstName">First Name:</label>
				<input type="text" class="form-control" id="firstName" formControlName="firstName" required>
				<div class="invalid-field" *ngIf="editClientForm.controls['firstName'].invalid && (editClientForm.controls['firstName'].dirty || editClientForm.controls['firstName'].touched)">Name is required.</div>
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">Last Name:</label>
				<input type="text" class="form-control" id="lastName" formControlName="lastName" required>
				<div class="invalid-field" *ngIf="editClientForm.controls['lastName'].invalid && (editClientForm.controls['lastName'].dirty || editClientForm.controls['lastName'].touched)">Last Name is required.</div>
			</div>
			<div class="form-group col-md-12">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" id="email" formControlName="email" required>
				<div class="invalid-field" *ngIf="editClientForm.controls['email'].invalid && (editClientForm.controls['email'].dirty || editClientForm.controls['email'].touched)">Mail is not right.</div>
			</div>
			<div class="form-group col-md-6">
				<label for="country">Country:</label>
				<input type="text" class="form-control" id="country" formControlName="country">
				<div class="invalid-field" *ngIf="editClientForm.controls['country'].invalid && (editClientForm.controls['country'].dirty || editClientForm.controls['country'].touched)">Country is required.</div>
			</div>
			<div class="form-group col-md-6">
				<label for="city">City:</label>
				<input type="text" class="form-control" id="city" formControlName="city">
				<div class="invalid-field" *ngIf="editClientForm.controls['city'].invalid && (editClientForm.controls['city'].dirty || editClientForm.controls['city'].touched)">City is required.</div>
			</div>
			<div class="col-md-12"><button type="submit" class="btn btn-default" [disabled]="editClientForm.invalid">Save</button></div>
		</form>
	</div>
</main>
<div class="overlay" (click)="closeModal()"></div>